<footer class="contacto" id="contacto">
    <div class="nosotros">
         <div class="sobre">
           <h5>Sobre Nosotros</h5>
         </div>
         <div class="sobre2">
             <p class="sobre3">Somos tan fanaticos como vos <br>
                   por que entendemos de esta pasión. <br>
                   Tomamos con seriedad y compromiso<br>
                   lo que para otros es solo un juego.
             </p>
         </div>
     </div>

 <div class="informacion" id="info">
    <div class="informacion1"><h5>Contacto</h5></div>
     <div class="informacion2">
         <p class="sobre4">Direccion: capital federal <br>
           Telefono:1124242424<br>
           Mail: jobxt@yahoo.com.ar
         </p>
     </div>
 </div>


</footer>