
<header class="inicio">
    <div class="titulo" >
        <h1>Somos Gamer</h1>
    </div>
 
    <nav class="botonera">
       
        <ul class="menu">
            <li><a href="/">inicio</a>
             <ul class="submenu">
             <li><a href="">contacto</a></li>
             <li><a href="/registro">registro</a></li>
             <li><a href="#registro">sucursales</a></li>
            </ul>

            </li>
            <li><a href="/consolas">juegos</a></li>
            <li><a href="/consolas">consolas</a>
                <ul class="submenu_2">
                    <li><a href="#consola">Playstation 3</a></li>
                    <li><a href="#consola">Playstation 4</a></li>
                    <li><a href="#consola">Playstation 5</a></li>
                
                </ul>
            </li>
            <li><a href="/registro">envios</a></li>
            <li><a href="/joystick">contacto</a></li>
        </ul>
    </nav>
 
</header>